NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_BOOTSTRAP_TOKEN=
RESEND_API_KEY=
RESEND_FROM_EMAIL=hello@sobrew.com
SOBREW_ADMIN_EMAIL=hello@sobrew.com
